/* Colours */
$primary 	: #D94885;
$secondary	: #922855;
$tertiary	: #FF7355;

$warning	: #D94848;

$white		: #ffffff;
$dark-grey	: #555;
$green		: #48D970;
$red		: #FF5555;
/* Meassurements */
$cta-radius: 12px;
$max-page-width: 900px;
* {
	font-family: helvetica;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased !important;
}

body {
	background-color: #fff;
	font-size: 18px;
}

h1 {
	color: $dark-grey;
	text-transform: capitalize;
}

p {
	margin-bottom: 1.5em;
}

.body-container {
	margin: 0 auto;
	max-width: $max-page-width;
	padding: 30px;
}
/* Header */
.site-logo-wrapper {
	margin: 0 auto;
	text-align: center;
	margin-bottom: 2em;

	.site-logo {
		max-width: 100%;
	}
}

/* Navigation */
nav {
	align: left;
	margin-bottom: 2em;

	ul {
		align: left;
		margin: 0;
		padding: 0;

		li {
			display: inline-block;
		}
	}

	a {
		color: $primary;
		padding: 0.5em 1em;
		border-radius: $cta-radius;

		&:hover {
	        -o-transition:.5s;
			-ms-transition:.5s;
			-moz-transition:.5s;
			-webkit-transition:.5s;
			transition:.5s;
			background: $primary;
			color: #fff;
		}
	}
}

/* Footer */
footer {
	p {
		color: #bbbbbb;
		font-size: 0.8em;
		text-align: justify;
	}
}


/* Create Page */

#bacon_url {
	&:hover {
		background: $tertiary;
		-o-transition:.5s;
		-ms-transition:.5s;
		-moz-transition:.5s;
		-webkit-transition:.5s;				
	}
}

.url-result {
	font-size: 0.9em;
	margin: 0 auto 2em auto;
	text-align: center;

	a {
		text-align: center;
		padding: 1em;
		background: $primary;
		color: $white;
		border-radius: $cta-radius;
	}
}

.bacon-form {
	margin-bottom: 2em;
		&::after{
			content:'';
			display:block;			
			clear: both;
		}		


	.input, .submit {
		padding: 1em 2em;
		box-sizing: border-box;
		border-width: 1px;
		border-style: solid;

		&:focus {
			outline: 0;
			border-color: $primary;
	        -o-transition:.5s;
			-ms-transition:.5s;
			-moz-transition:.5s;
			-webkit-transition:.5s;			
		}
	}

	.bacon-url {
		border-color: lighten( $tertiary, 0%);
		border-right-style: none;
		border-radius: $cta-radius 0 0 $cta-radius;
		background: #fff;
		width: 65%;
		margin-right: 0em;
		color: darken($primary, 35%);
		float: left;

		$placeholder-color: darken($white, 35%);
		&::-webkit-input-placeholder {
		   color: $placeholder-color;
		}

		&:-moz-placeholder { /* Firefox 18- */
		   color: $placeholder-color;  
		}

		&::-moz-placeholder {  /* Firefox 19+ */
		   color: $placeholder-color;  
		}

		&:-ms-input-placeholder {  
		   color: $placeholder-color;  
		}		
	}

	.bacon-submit {
		background: $tertiary;
		border-color: $tertiary;
		color: #ffffff;
		width: 35%;
		transition:.5s;
		border-radius: 0 $cta-radius $cta-radius 0;
		float: left;

		&:hover {
			background: $primary;
			border-color: $primary;
	        -o-transition:.5s;
			-ms-transition:.5s;
			-moz-transition:.5s;
			-webkit-transition:.5s;
		}
		

	}
}

.generated_bacon_url {
	// width: 100%;
	text-align: center;
	width: 100%;
	padding: 1em 0em;
	background: $primary;
	outline: none;
	border: none;
	border-radius: $cta-radius;
	color: $white;
	margin: 0 auto;
	height: 3.5em;

	&::selection {
		color: $white;
		background: $secondary;
	}
}

/* Messages */

.message {
	p {
		font-size: 0.8em;
		padding: 0.5em;
		margin-bottom: 1em;
	}
		
	font-size: 1.0em;
	display: none;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	padding: 0 1.7em;
	color: $white;
	text-align: center;
	margin-bottom: 2em;

	.message-container {
		margin: 0 auto;
		padding: 0.8em 1em;	
		max-width: $max-page-width;
		border-radius: 0 0 $cta-radius $cta-radius;
	}
}

.message-error {
	p {
		color: $white;
		margin: 0px;
		padding: 0px;
	}

	.message-container {
		background: $red;
	}
}

.message-success {
	.message-container {
		background: $green;
	}
}


.info {
	text-align: center;
	color: $dark-grey;
}


@media screen and (max-width: 830px) {
	.bacon-form {

		.bacon-url {
			margin-bottom: 1em;
			border-right-style: solid;
			border-radius: $cta-radius; 
			text-align: center;
		}

		.bacon-url, .bacon-submit {
			width: 100%;
			border-radius: $cta-radius; 
		}
	}

	.generated_bacon_url {
		height: auto;
	}

}


