/* Colours *//* Meassurements */* {
  font-family: helvetica;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased !important;
}
body {
  background-color: #fff;
  font-size: 18px;
}
h1 {
  color: #555;
  text-transform: capitalize;
}
p {
  margin-bottom: 1.5em;
}
.body-container {
  margin: 0 auto;
  max-width: 900px;
  padding: 30px;
}
/* Header */.site-logo-wrapper {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 2em;
}
.site-logo-wrapper .site-logo {
  max-width: 100%;
}
/* Navigation */nav {
  align: left;
  margin-bottom: 2em;
}
nav ul {
  align: left;
  margin: 0;
  padding: 0;
}
nav ul li {
  display: inline-block;
}
nav a {
  color: #d94885;
  padding: 0.5em 1em;
  border-radius: 12px;
}
nav a:hover {
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background: #d94885;
  color: #fff;
}
/* Footer */footer p {
  color: #bbb;
  font-size: 0.8em;
  text-align: justify;
}
/* Create Page */#bacon_url:hover {
  background: #ff7355;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
}
.url-result {
  font-size: 0.9em;
  margin: 0 auto 2em auto;
  text-align: center;
}
.url-result a {
  text-align: center;
  padding: 1em;
  background: #d94885;
  color: #fff;
  border-radius: 12px;
}
.bacon-form {
  margin-bottom: 2em;
}
.bacon-form::after {
  content: '';
  display: block;
  clear: both;
}
.bacon-form .input, .bacon-form .submit {
  padding: 1em 2em;
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
}
.bacon-form .input:focus, .bacon-form .submit:focus {
  outline: 0;
  border-color: #d94885;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
}
.bacon-form .bacon-url {
  border-color: #ff7355;
  border-right-style: none;
  border-radius: 12px 0 0 12px;
  background: #fff;
  width: 65%;
  margin-right: 0em;
  color: #5c1332;
  float: left;
}
.bacon-form .bacon-url::-webkit-input-placeholder {
  color: #a6a6a6;
}
.bacon-form .bacon-url:-moz-placeholder {
  /* Firefox 18- */
  color: #a6a6a6;
}
.bacon-form .bacon-url::-moz-placeholder {
  /* Firefox 19+ */
  color: #a6a6a6;
}
.bacon-form .bacon-url:-ms-input-placeholder {
  color: #a6a6a6;
}
.bacon-form .bacon-submit {
  background: #ff7355;
  border-color: #ff7355;
  color: #fff;
  width: 35%;
  transition: 0.5s;
  border-radius: 0 12px 12px 0;
  float: left;
}
.bacon-form .bacon-submit:hover {
  background: #d94885;
  border-color: #d94885;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
}
.generated_bacon_url {
  text-align: center;
  width: 100%;
  padding: 1em 0em;
  background: #d94885;
  outline: none;
  border: none;
  border-radius: 12px;
  color: #fff;
  margin: 0 auto;
  height: 3.5em;
}
.generated_bacon_url::selection {
  color: #fff;
  background: #922855;
}
/* Messages */.message {
  font-size: 1em;
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  padding: 0 1.7em;
  color: #fff;
  text-align: center;
  margin-bottom: 2em;
}
.message p {
  font-size: 0.8em;
  padding: 0.5em;
  margin-bottom: 1em;
}
.message .message-container {
  margin: 0 auto;
  padding: 0.8em 1em;
  max-width: 900px;
  border-radius: 0 0 12px 12px;
}
.message-error p {
  color: #fff;
  margin: 0px;
  padding: 0px;
}
.message-error .message-container {
  background: #f55;
}
.message-success .message-container {
  background: #48d970;
}
.info {
  text-align: center;
  color: #555;
}
@media screen and (max-width: 830px) {
  .bacon-form .bacon-url {
    margin-bottom: 1em;
    border-right-style: solid;
    border-radius: 12px;
    text-align: center;
  }
  .bacon-form .bacon-url, .bacon-form .bacon-submit {
    width: 100%;
    border-radius: 12px;
  }
  .generated_bacon_url {
    height: auto;
  }
}
